.App-header {
  background: linear-gradient(316deg, #8372dd, #4ba0d0); /* #282c34 */
  background-size: 600% 600%;
  -webkit-animation: AnimationName 28s ease infinite;
  -moz-animation: AnimationName 28s ease infinite;
  animation: AnimationName 28s ease infinite;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: white;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}
@keyframes AnimationName { 
  0%{background-position:0% 4%}
  50%{background-position:100% 97%}
  100%{background-position:0% 4%}
}

.App-link {
  color: #61dafb;
}

.App-section {
  background-color: #f3f3f3;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

.App-horizontal-scroll {
  display: flex;
  padding-bottom: 10px;
  min-height: 140px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.App-horizontal-empty {
  display: flex;
  padding-bottom: 10px;
  min-height: 140px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.App-class-card {
  flex: 0 0 auto;
  width: 250px;
}

.Timetable-column {
  height: 100%;
}

/* Ant Design Icon Code */
.icon-wrapper {
  position: relative;
  padding: 0px 30px;
  margin-top: 10px;
}

.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 1;
}

.icon-wrapper .icon-wrapper-active {
  color: rgba(0, 0, 0, 0.45);
}

.icon-wrapper .anticon:first-child {
  left: 0;
}

.icon-wrapper .anticon:last-child {
  right: 0;
}
