.App-header {
  background-color: #282c34;
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-section {
  background-color: #f3f3f3;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  padding: 20px;
}

.App-horizontal-scroll {
  display: flex;
  padding-bottom: 10px;
  min-height: 140px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.App-horizontal-empty {
  display: flex;
  padding-bottom: 10px;
  min-height: 140px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.App-class-card {
  flex: 0 0 auto;
  width: 250px;
}

.Timetable-column {
  width: 20%;
  justify-content: center;
  align-items: center;
}
